@font-face {
  font-family: "Ephesis";
  src: url("./media/Ephesis-Regular.ttf");
}

.navbar {
  background-image: url("./media/pexels-photo-205316.webp");
  background-size: cover;
  height: 100vh;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Playfair Display";
}

.logo {
  font-family: "Ephesis";
  font-size: 5rem;
  color: #88f3d9;
  margin-top: 0;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.nav-items {
  list-style: none;
  float: right;
}

.nav-options {
  display: inline;
  padding: 0.5rem;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: large;
  text-decoration: none;
}

.nav-opt:hover {
  color: #88f3d9;
}

@media only screen and (max-width: 600px) {
  .navbar {
    height: 40vh;
    background-position: center;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
  .nav-options {
    margin: 0;
    font-size: 1.2rem;
  }
  .logo {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  html {
    text-align: center;
  }
  article {
    width: 70vw;
  }
  .article-list {
    padding: 0;
  }
}

@media only screen and (max-width: 800px) {
  .navbar {
    height: 50vh;
    background-position: center;
  }
}
