<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/portfolio.css" />
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/footer.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <title>Surbhi's Projects</title>
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="logo-container">
          <a href="/index.html"><h1 class="logo">Surbhi Kukreti</h1></a>
        </div>
        <ul class="nav-items">
          <li class="nav-options">
            <a class="nav-opt" href="/index.html">Home</a>
          </li>
          <li class="nav-options">
            <a class="nav-opt" href="/components/projects.html">Projects</a>
          </li>
          <li class="nav-options">
            <a class="nav-opt" href="/components/blogs.html">Blogs</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="main">
      <header><h1>The blog bar</h1></header>

      <ul class="article-list">
        <li>
          <article>
            <h2>Getting started with git cli</h2>
            <small>September2021</small>
            <p>
              Before this you might have used with different GUI interfaces or
              you might have an basic idea of what git is. Here in this blog we
              will look into some very basic set of commands that you need to
              just start of with using git and help you to get comfortable with
              the CLI nature of apps.
            </p>
            <a
              class="click"
              href="https://medium.com/@subuhikukreti/getting-started-with-git-cli-7ef931bfd2d3"
            >
              Start Reading</a
            >
          </article>
        </li>

        <li>
          <article>
            <h2>Pushing your code to github</h2>
            <small>September2021</small>
            <p>
              In the previous article I have shared how to use git via command
              line. Now if you are wondering how to move forward with it and now
              how to push are code to GitHub. First of all to all the people who
              are new to this. “git” is a software for version control while
              GitHub is a popular hosting service for the same. you just need to
              have git installed in your system and to use GitHub you just need
              to have an account on GitHub.
            </p>
            <a
              class="click"
              href="https://medium.com/@subuhikukreti/pushing-your-code-to-github-b212b630f7b7"
            >
              Start Reading</a
            >
          </article>
        </li>
      </ul>
    </div>

    <footer>
      <ul>
        <li>
          <a href="https://github.com/Surbhi84">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://medium.com/@subuhikukreti">
            <i class="fab fa-medium-m"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/surbhi-kukreti-a91b0b163">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://surbhikukreti.netlify.app/">
            <i class="fas fa-laptop"></i>
          </a>
        </li>
      </ul>

      <div id="legacyText">© 2021 | Surbhi Kukreti</div>
    </footer>
  </body>
</html>
