<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/portfolio.css" />
    <link rel="stylesheet" href="/navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <title>Surbhi's Projects</title>
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="logo-container">
          <a href="/portfolio.html"><h1 class="logo">Surbhi Kukreti</h1></a>
        </div>
        <ul class="nav-items">
          <li class="nav-options">
            <a class="nav-opt" href="/portfolio.html">Home</a>
          </li>
          <li class="nav-options">
            <a class="nav-opt" href="/components/projects.html">Projects</a>
          </li>
          <li class="nav-options">
            <a class="nav-opt" href="/components/blogs.html">Blogs</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="main">
      <header><h1>The blog bar</h1></header>

      <ul class="article-list">
        <li>
          <article>
            <h2>BLOG1</h2>
            <small>September2021</small>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ex
              nostrum minus impedit natus voluptatibus modi nobis dolores,
              assumenda incidunt dicta dolorum accusantium eius nemo a
              blanditiis, inventore perspiciatis eaque!
            </p>
            <a class="weblink" href=""> Start Reading</a>
            <a class="click" href=""> Source code</a>
          </article>
        </li>

        <li>
          <article>
            <h2>BLOG2</h2>
            <small>September2021</small>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ex
              nostrum minus impedit natus voluptatibus modi nobis dolores,
              assumenda incidunt dicta dolorum accusantium eius nemo a
              blanditiis, inventore perspiciatis eaque!
            </p>
            <a class="weblink" href=""> Start Reading</a>
            <a class="click" href=""> Source code</a>
          </article>
        </li>
      </ul>
    </div>

    <footer>
      <ul>
        <li>
          <a href="https://github.com/Surbhi84">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fab fa-medium"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/surbhi-kukreti-a91b0b163">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a href="https://surbhikukreti.netlify.app/">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
          </a>
        </li>
      </ul>

      <div id="legacyText">© 2021 | Surbhi Kukreti</div>
    </footer>
  </body>
</html>
