<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/portfolio.css" />
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/footer.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <title>Surbhi's Blogs</title>
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="logo-container">
          <a href="/index.html"><h1 class="logo">Surbhi Kukreti</h1></a>
        </div>
        <ul class="nav-items">
          <li class="nav-options">
            <a class="nav-opt" href="/index.html">Home</a>
          </li>
          <li class="nav-options">
            <a class="nav-opt" href="/components/projects.html">Projects</a>
          </li>
          <li class="nav-options">
            <a class="nav-opt" href="/components/blogs.html">Blogs</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="main">
      <header><h1>The project bar</h1></header>

      <ul class="article-list">
        <li>
          <article>
            <h2>Know ME?</h2>
            <small>August 2021</small>
            <p>
              This is a CLI quiz app which asks you questions about me,written
              in javascript and uses NodeJs.
            </p>
            <a
              class="weblink"
              href="https://replit.com/@SurbhiKukreti/MyQuizmark1#index.js"
            >
              Lets Play!</a
            >
            <a class="click" href="https://github.com/surbhi84/QuizMe_mark1">
              Source code</a
            >
          </article>
        </li>

        <li>
          <article>
            <h2>Harry Potter Quizz</h2>
            <small>August 2021</small>
            <p>
              A mini CLI Quiz written in js that tests your knowledge on Harry
              Potter novels,here you get two choices, to play with MCQ's or type
              answer based questions
            </p>
            <a
              class="weblink"
              href="https://replit.com/@SurbhiKukreti/Harry-potter-quizmark2#index.js"
            >
              Lets Play!</a
            >
            <a
              class="click"
              href="https://github.com/surbhi84/HarryPotterQuiz_mark2"
              >Source code</a
            >
          </article>
        </li>

        <li>
          <article>
            <h2>My Portfolio</h2>
            <small>August 2021</small>
            <p>
              A website that showcases my skills and a set of projects that I
              made,this website itself!
            </p>
            <a class="weblink" href="/index.html"> Lets see!</a>
            <a class="click" href="https://github.com/surbhi84/Portfolio_mark4">
              Source code</a
            >
          </article>
        </li>

        <li>
          <article>
            <h2>Banana Talk</h2>
            <small>September 2021</small>
            <p>
              A web application that lets you convert any text to minion
              language,its written in Html,CSS and vanilla javascript. Guessing
              what banana means here? Open the website and you'll know😉
            </p>
            <a
              class="weblink"
              href="https://becauseminionslovebananas.netlify.app/"
            >
              Start translating!</a
            >
            <a class="click" href="https://github.com/surbhi84/Banana_Mark6">
              Source code</a
            >
          </article>
        </li>

        <li>
          <article>
            <h2>Talking Pirates</h2>
            <small>September 2021</small>
            <p>
              This is a web application that helps you translate your text to
              how a pirate would say it, talking pirates uses an API that does
              the translation.It is written in Html,CSS and vanilla JavaScript.
            </p>
            <a class="weblink" href="https://talkingpirate.netlify.app/">
              Start translating!</a
            >
            <a
              class="click"
              href="https://github.com/surbhi84/TalkingPirates_mark7"
            >
              Source code</a
            >
          </article>
        </li>

        <li>
          <article>
            <h2>EmojiMeans</h2>
            <small>September 2021</small>
            <p>
              EmojiMeans is a web Application that holds answer to your emoticon
              issues,ever had trouble comprehending what a emoji says? Click on
              the link below and know all the hidden meanings behind an
              emoticon.It is bulit on ReactJS.
            </p>
            <a class="weblink" href="https://emojimean.netlify.app/">
              Try it!</a
            >
            <a
              class="click"
              href="https://github.com/surbhi84/EmojiMeans_mark8"
            >
              Source code</a
            >
          </article>
        </li>

        <li>
          <article>
            <h2>Recommendation</h2>
            <small>September 2021</small>
            <p>
              A website that recommends you a selection of movies and series for
              all those days when you want to try something new or just bored of
              getting the same recommendations.
            </p>
            <a class="weblink" href="https://watchlistrecommender.netlify.app/">
              Try it!</a
            >
            <a
              class="click"
              href="https://github.com/surbhi84/WatchListRecommender_mark9"
            >
              Source code</a
            >
          </article>
        </li>

        <li>
          <article>
            <h2>CashCal</h2>
            <small>September 2021</small>
            <p>
              CashCal is a solution to all your brain storming sessions at the
              mall,Here you can easily calculate the number of notes to be
              returned after the purchase,this can be used by both the seller or
              the buyer.This app is written in Html,CSS and vanilla js.
            </p>
            <a class="weblink" href="https://cashregis.netlify.app/">
              Try it!
            </a>
            <a
              class="click"
              href="https://github.com/surbhi84/CashRegister_mark10"
            >
              Source code</a
            >
          </article>
        </li>

        <li>
          <article>
            <h2>B'DayLuck</h2>
            <small>September 2021</small>
            <p>
              This web Application takes your birthdate and tells you if your
              B'DAY is lucky or not,it is bulit using Html,CSS and vanilla
              js.Note:This is made with a sole purpose of having fun!
            </p>
            <a class="weblink" href="https://luckbday.netlify.app/"> Try it!</a>
            <a class="click" href="https://github.com/surbhi84/BdayLuck_mark11">
              Source code</a
            >
          </article>
        </li>

        <li>
          <article>
            <h2>Trigon3</h2>
            <small>September 2021</small>
            <p>
              A web Application built using Html,CSS and JavaScript that deals
              with queries relating to triangles.Here you can check if three
              angles make a triangle or not,check area and hypotenuse of the
              triangle,and play quiz on triangles.Wanna know why I named it
              TRIGON3? checkout the web.
            </p>
            <a class="weblink" href="https://trigon3.netlify.app/"> Try it!</a>
            <a class="click" href="https://github.com/surbhi84/Triangles_mark12"
              >Source code</a
            >
          </article>
        </li>

        <li>
          <article>
            <h2>BirthdayPal</h2>
            <small>September 2021</small>
            <p>
              This website checks for you if your birthdate makes a
              palindrome,your birthdate gets checked in multiple date formats to
              increase the chances of getting a palindrome.Checkout yours now!
            </p>
            <a class="weblink" href="https://isbdaypalindrome.netlify.app/">
              Try it!</a
            >
            <a class="click" href="https://github.com/surbhi84/bdayPal_mark13">
              Source code</a
            >
          </article>
        </li>

        <li>
          <article>
            <h2>Up&Down</h2>
            <small>September 2021</small>
            <p>
              Up&down tells you how much returns are you getting from you stock
              purchases,you can easily type in your stock details and the
              application will do the calculation for you! The website is built
              using Html,Css and JavaScript.
            </p>
            <a class="weblink" href="https://stocksmark14.netlify.app/">
              Try it!</a
            >
            <a class="click" href="https://github.com/surbhi84/stocks_mark14">
              Source code</a
            >
          </article>
        </li>
      </ul>
    </div>

    <footer>
      <ul>
        <li>
          <a href="https://github.com/Surbhi84">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://medium.com/@subuhikukreti">
            <i class="fab fa-medium-m"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/surbhi-kukreti-a91b0b163">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://surbhikukreti.netlify.app/">
            <i class="fas fa-laptop"></i>
          </a>
        </li>
      </ul>

      <div id="legacyText">© 2021 | Surbhi Kukreti</div>
    </footer>
  </body>
</html>
