<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="" />
    <title>Surbhi's Blogs</title>
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <a href="../portfolio.html">Surbhi Kukreti</a>
      </div>
      <ul class="nav-items">
        <li><a href="/portfolio.html">Home</a></li>
        <li><a href="/components/projects.html">Projects</a></li>
        <li><a href="/components/blogs.html">Blogs</a></li>
      </ul>
    </nav>
    <header><h1>The project bar</h1></header>
  </body>
</html>
